.w1200 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.top-nav {
	height: 50px;
	color: #fff;
	background: #29b4ee;
}
.top-left-nav a,
.top-left-nav span,
.top-left-nav img{
	display: inline-block;
	line-height: 50px;
	vertical-align:middle;
	color: #fff;
}