.w1200 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.ml30 {
	margin-left: 30px;
}

.mt10 {
	margin-top: 10px;
}

.mt40 {
	margin-top: 40px;
}

.mt30 {
	margin-top: 30px;
}

.mt20 {
	margin-top: 20px;
}

.mt15 {
	margin-top: 15px;
}

.mt50 {
	margin-top: 50px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb40 {
	margin-bottom: 40px;
}

.pt20 {
	padding-top: 20px;
}

.pb20 {
	padding-bottom: 20px;
}

.text-green {
	color: #19aa6b;
}

.text-red {
	color: #e20100;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.solid-bottom {
	border-bottom: 1px solid #eee;
}

.imgbox img {
	display: block;
	width: 100%;
}

.header {
	background: #fff;
	padding-bottom: 6px;
	border-bottom: 2px solid #29b4ee;
}

.top-nav {
	height: 50px;
	color: #fff;
	background: #29b4ee;
}

.top-nav a,
.top-nav span.line {
	display: block;
	float: left;
}

.top-nav span.line {
	width: 1px;
	height: 14px;
	background: rgba(255, 255, 255, .5);
	margin: 18px 20px;
}

.top-nav img {
	margin-right: 5px;
}

.top-nav span,
.top-nav img {
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	color: #fff;

}

.sub-nav {
	height: 100px;
	font-size: 18px;
	color: #333;
}

.sub-nav .sub-logo {
	display: block;
	width: 330px;
}

.sub-nav .line {
	width: 1px;
	height: 30px;
	display: block;
	background: #ddd;
	margin: 0 18px;
}

.sub-nav .searchbar {
	width: 460px;
	height: 32px;
	border: 1px solid #29b4ee;
	border-right: 0;
	padding-left: 10px;
	border-radius: 4px;
	overflow: hidden;

}

.sub-nav .searchbar input {
	font-size: 12px;
	border: none;
	margin-left: 10px;
}

.sub-nav .searchbar .search-btn {
	color: #fff;
	background: #29b4ee;
	display: block;
	width: 80px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}

.sub-nav .my-order-btn {
	color: #fff;
	background: #29b4ee url(../img/order.png) no-repeat 12px center;
	display: block;
	height: 32px;
	width: 100px;
	font-size: 14px;
	line-height: 32px;
	border-radius: 4px;
	margin-left: 10px;
	padding-left: 32px;
}

.main-logo {
	display: block;
	margin: 34px auto;
}

.nav-con .main-nav a {
	display: block;
	width: 82px;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
	border-radius: 50px;
	text-align: center;
}

.nav-con .main-nav a.active {
	color: #fff;
	background-color: #29b4ee;
}

.nav-con .searchbar {
	height: 28px;
	border: 2px solid #29b4ee;
	border-radius: 50px;
	width: 260px;
	padding-left: 15px;

}

.nav-con .searchbar input {
	border: none;
	font-size: 12px;
	margin-left: 10px;
}

.nav-con .searchbar .search-btn {
	color: #fff;
	width: 60px;
	text-align: center;
	display: block;
	line-height: 26px;
	border-radius: 50px;
	background: #29b4ee;
	margin-right: -2px;

}

.banner .swiper-container img {
	display: block;
	width: 100%;
}

.banner .swiper-container {
	position: relative;
}

.banner .swiper-pagination {
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.banner .swiper-pagination .swiper-pagination-bullet {
	width: 64px;
	height: 3px;
	border-radius: 0;
	background: #fff;
	margin: 0 2px;
	opacity: .3;
}

.banner .swiper-pagination .swiper-pagination-bullet-active {
	opacity: 1;
}

/* footer */
.footer {
	background: #eee;
	font-size: 12px;
}

.footer .sf-footer {
	padding: 40px 0 58px;
	display: flex;
}

.footer .sf-footer .list-row {
	padding-left: 40px;
}

.footer .sf-footer h3 {
	font-size: 24px;
	color: #333;
	font-weight: bold;
	margin: 7px 0 10px;
}

.footer .sf-footer a {
	color: #999;
	line-height: 26px;
}

.footer .sf-footer a i {
	color: #333;
	margin-right: 5px;
}

.footer .sf-footer .qrcode {
	margin: 0 100px;
}

@media (max-width: 768px) {
	.footer .sf-footer {
		display: block;
	}

	.footer .sf-footer .qrcode {
		margin:20px 40px;
	}
}

.footer .copyright {
	color: #999;
	background: #fff;
	text-align: center;
	height: 48px;
	line-height: 20px;
}



/* 分页 */
.pagination {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 48px;
	margin-bottom: 50px
}

.pagination .break,
.pagination .current,
.pagination .next,
.pagination .page-skip,
.pagination .previous,
.pagination .route,
.pagination a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	padding: 8px 10px;
	vertical-align: middle;
	color: #333;
	margin-right: -5px;
	min-width: 40px;
	*margin-right: -1px;
	_width: 50px;
	height: 40px;
	line-height: 22px;
}

.pagination a {
	border: 1px solid #ccc;
}

.pagination a:hover {
	text-decoration: none;
	color: #000;
	border-color: #aaa;
	position: relative;
	z-index: 1
}

.pagination .current {
	border: 1px solid #29b4ee;
	color: #fff;
	background-color: #29b4ee
}

.pagination .next,
.pagination .previous {
	background-color: #f6f6f6;
	border: 1px solid #ccc
}

.pagination .unavailable {
	color: #ccc;
	cursor: default;
	cursor: not-allowed
}

.pagination .unavailable .arrow-left {
	border-right-color: #999
}

.pagination .unavailable .arrow-right {
	border-left-color: #999
}

.pagination .unavailable:hover {
	color: #ccc;
	cursor: default;
	cursor: not-allowed
}

.pagination .unavailable:hover .arrow-left {
	border-right-color: #999
}

.pagination .unavailable:hover .arrow-right {
	border-left-color: #999
}

.pagination .page-skip {
	padding-top: 0;
	padding-bottom: 0
}

.pagination .page-skip .page-total {
	margin-left: 3px;
	margin-right: 3px
}

.pagination .page-skip label {
	margin-left: 5px
}

.pagination .page-skip .page-jump {
	width: 36px;
	height: 40px;
	text-align: center;
	padding: 8px 2px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #ccc
}

.pagination .page-skip button {
	width: 60px;
	height: 40px;
	border: 0 none;
	background-color: #29b4ee;
	color: #fff;
	cursor: pointer
}

.pagination .page-skip .tip-wrap {
	position: absolute;
	display: none;
	top: -44px;
	right: 40px
}

.pagination .page-skip .tip-wrap .tip {
	border: 1px solid #dedede;
	height: 32px;
	line-height: 32px;
	width: 140px;
	font-size: 12px
}

.pagination .page-skip .tip-wrap .triangle-box {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 6px solid #dedede;
	width: 0;
	height: 0;
	position: relative;
	left: 64px
}

.pagination .page-skip .tip-wrap .triangle {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 6px solid #fff;
	width: 0;
	height: 0;
	position: absolute;
	top: -7px;
	left: -8px
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1110;
	outline: 0;
	text-align: center;
	-ms-transform: scale(1.185);
	transform: scale(1.185);
	backface-visibility: hidden;
	perspective: 2000upx;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease-in-out 0s;
	pointer-events: none;
	display: none;
}

.modal>div {
	width: 500px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
	overflow: hidden;
}

.modal.show {
	opacity: 1;
	transition-duration: 0.3s;
	-ms-transform: scale(1);
	transform: scale(1);
	overflow-x: hidden;
	overflow-y: auto;
	pointer-events: auto;
	display: block;
}

.modal .modal-hd {
	height: 50px;
	background: #29b4ee;
	color: #fff;
	font-size: 16px;
	padding: 0 10px 0 20px;
	font-weight: bold;
}

.modal .modal-hd a.close {
	background: url(../img/window_close@2x.png) no-repeat center center;
	display: block;
	height: 30px;
	width: 30px;
	background-size: 100% auto;
}

.modal-bd {
	padding: 40px 30px;
	font-size: 16px;
	color: #333;
}

.modal-bd input {
	margin-top: 20px;
	display: block;
	line-height: 40px;
	width: 100%;
	border: 1px solid #ddd;
	padding-left: 20px;
	font-size: 14px;
}

.modal-ft {
	padding: 10px 20px;
	border-top: 1px solid #ddd;
}

.modal-ft a {
	width: 250px;
	height: 40px;
	color: #333;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	line-height: 40px;
	margin: 0 10px;
	font-size: 16px;
}

.modal-ft a.save {
	color: #fff;
	background: #29b4ee;
	border-color: #29b4ee;
}

.modal-ft a.help em {
	display: inline-block;
	background: #29b4ee;
	color: #fff;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 100%;
	padding-left: 5px;
	margin-left: 10px;
}

/* 面包屑导航 */
.breadcrumbs {
	color: #999;
	font-size: 12px;
	padding: 20px 0;
}

.breadcrumbs a {
	color: #999;
}
