/* 筛选 */
.sf-filter {
	border: 1px solid #ddd;
	font-size: 12px;
	color: #666;
	margin-bottom: 20px;
}

.sf-filter .sf-filter-row .sf-filter-key {
	width: 130px;
	background: #f8f8f8;
	padding: 20px 30px;
	text-align: right;
}

.sf-filter .sf-filter-row+.sf-filter-row {
	border-top: 1px solid #eee;
}

.sf-filter .sf-filter-row .sf-filter-value {
	padding: 20px 30px;
	line-height: 18px;
}

.sf-filter .sf-filter-row .triggle {
	position: relative;

}

.sf-filter .sf-filter-row .triggletab {
	/* border: 1px solid #eee; */
}

.sf-filter .sf-filter-row .triggle.triggletab .open {
	width: 82px;
	height: 28px;
	display: block;
	border: 1px solid #ddd;
	/* border-bottom: none; */
	text-align: center;
	line-height: 27px;
	cursor: pointer;
	margin-right: 10px;
}

.sf-filter .sf-filter-row .triggle .open i,
.sf-filter .sf-filter-row .triggle .open span {
	vertical-align: middle;
}

.sf-filter .sf-filter-row .triggle .open i {
	display: inline-block;
	height: 4px;
	width: 7px;
	background: url(../img/demo/arrow.png);
	margin-left: 2px;
	transform: scale(1, -1);
}

.sf-filter .sf-filter-row .triggle.triggletab .open i {
	margin-left: 6px;
}

.sf-filter .sf-filter-row .triggle.triggletab.unfold .open {
	color: #29b4ee;
}

.sf-filter .sf-filter-row .triggle.unfold>.open i {
	transform: scale(1, 1);
}

.sf-filter .sf-filter-row .condition {
	position: relative;
}

.sf-filter .sf-filter-row .condition form {
	color: #666;
}

.sf-filter .sf-filter-row .condition form input[type="text"] {
	width: 40px;
	height: 30px;
	border: none;
	background: none;
	text-align: center;
	color: #999;
}

.sf-filter .sf-filter-row .condition form .group {
	height: 30px;
	width: 62px;
	border: 1px solid #eee;
	padding-right: 5px;
	color: #999;
}
.sf-filter .sf-filter-row .condition form .group+span{
	margin: 0 5px;
}
.sf-filter .sf-filter-row .condition form input[type="submit"] {
	color: #fff;
	background: #29b4ee;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border: none;
	width: 50px;
	margin-left: 10px;
	cursor: pointer;
}

.sf-filter .sf-filter-row .sub-condition .triggle .open {
	margin: 12px 0;
	display: block;
}

.sf-filter .sf-filter-row .sub-condition .triggle .open>span {
	cursor: pointer;
	padding: 0 2px;
	text-align: center;
}



.sf-filter .sf-filter-row .sub-condition {
	border: 1px solid #ddd;
	display: none;
	padding: 8px 20px;
	background: #fff;
	position: relative;
	top: -1px;
}

.sf-filter .sf-filter-row .sf-filter-value a {
	display: block;
	padding: 0 2px;
	text-align: center;
}

.sf-filter .sf-filter-row .sf-filter-value .condition a {
	margin: 0 12px;
	color: #666;
}

.sf-filter .sf-filter-row .sf-filter-value a.active,
.sf-filter .sf-filter-row .sf-filter-value .unlimited a.active,
.sf-filter .sf-filter-row .sub-condition .triggle.unfold>.open>span {
	color: #fff;
	background: #29b4ee;
}

.sf-filter .sf-filter-row .sf-filter-value .unlimited {
	margin-right: 36px;
}

.sf-filter .sf-filter-row .sf-filter-value .unlimited a {
	background: #eee;
	color: #666;
}


.sf-filter .sf-filter-row .sub-condition .triggle {
	width: 95px;
}

.sf-filter .sf-filter-row .sub-condition .sub-condition .triggle {
	width: 55px;
}

.sf-filter .sf-filter-row .triggle.twotriggle {
	margin-bottom: 10px;
}

.sf-filter .sf-filter-row .area .sub-condition {
	position: relative;
	left: 0;
	width: 700px;
	top: 6px;
	background: #f8f8f8;
	padding: 5px 5px 10px;
}

.sf-filter .sf-filter-row .sf-filter-value .sub-condition .condition a {
	margin: 12px;
}

/* .sf-filter .sf-filter-row .sub-condition .sub-condition {
	top: 0;
} */

.sf-filter .sf-filter-row .sf-filter-value .sub-condition .sub-condition .unlimited {
	margin-right: 20px;
}

.sf-filter .sf-filter-row .sf-filter-value .sub-condition .unlimited a {
	margin: 12px 0;
}

/* 一键重置 */
.sf-filter .sf-filter-row .sf-filter-value .reset-btn {
	color: #fff;
	background: #29b4ee;
	font-size: 14px;
	border: none;
	line-height: 30px;
	width: 90px;
	margin: 0 auto;
	text-align: center;
	display: block;
}

/* 拍卖汽车列表 */
.sf-pai-item-list {
	margin: 0 -10px;
}

.sf-pai-item-list .pai-item {
	float: left;
	border: 1px solid #eaeaea;
	display: block;
	position: relative;
	width: 285px;
	margin: 20px 10px 0;
}

.sf-pai-item-list .pai-item .header-section {
	position: relative;
	height: 210px;
	overflow: hidden;
}

.sf-pai-item-list .pai-item .header-section img {
	display: block;
}

.sf-pai-item-list .pai-item .header-section .title {
	background-color: #f6f6f6;
	color: #333;
	position: absolute;
	padding: 0 13px;
	left: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	right: 0;
	text-align: left
}

.sf-pai-item-list .pai-item .info-section {
	color: #999;
	font-size: 12px;
	padding: 20px 10px;
}

.sf-pai-item-list .pai-item .info-section .label {
	margin-right: 15px;
}

.sf-pai-item-list .pai-item .info-section>p+p {
	margin-top: 10px;
}

.sf-pai-item-list .pai-item .info-section .price.price-assess .value {
	font-size: 16px;
}

.sf-pai-item-list .pai-item .info-section .price.price-assess .value .currency {
	font-family: arial, tahoma, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-right: 4px;
}

.sf-pai-item-list .pai-item .info-section .price.price-assess .value em {
	font-weight: bold;
	font-family: tahoma, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

.sf-pai-item-list .pai-item .info-section .price .value em s {
	font-family: 'Microsoft YaHei', arial tahoma, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	padding-left: 4px;
	text-decoration: none;
}

.sf-pai-item-list .pai-item .info-section .time .value {
	font-family: tahoma, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	color: #333;
	padding-left: 10px;
	font-weight: 700;
}

.sf-pai-item-list .pai-item .footer-section {
	border-top: 1px solid #eee;
	height: 36px;
	line-height: 36px;
}

.sf-pai-item-list .pai-item .footer-section .num-apply,
.sf-pai-item-list .pai-item .footer-section .num-auction {
	color: #999;
	float: left;
	padding-left: 12px;
	width: 50%;
	color: #999;
	font-size: 12px;
}

.sf-pai-item-list .pai-item .footer-section .num-auction {
	border-right: 1px solid #eee;
}

.sf-pai-item-list .pai-item .flag-section {
	height: 90px;
	width: 90px;
	background: rgba(255, 255, 255, .8);
	position: absolute;
	right: 10px;
	top: 80px;
	border-radius: 100%;
	padding: 5px;
}

.sf-pai-item-list .pai-item .flag-section .flag {
	border: 1px solid #666;
	border-radius: 100%;
	line-height: 78px;
	color: #666;
	font-size: 22px;
	text-align: center;

}

.sf-pai-item-list .pai-item .tag-section p {
	float: left;
	width: 50%;
	height: 38px;
	line-height: 38px;
	color: #fff;
	text-align: center;
	background: #ddd;
}

.sf-pai-item-list .pai-item .tag-section p.btn-blue {
	background: #29b4ee;
}

.sf-pai-item-list .pai-item .tag-section p.btn-yellow {
	background: #f6ad1e;
}

/* 筛选 */

.sf-scroll-fixed {
	background-color: #fafafa;
	border: 1px solid #e2e2e2;
}

.sf-scroll-fixed.fixed {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
}

.sf-scroll-fixed .block {
	color: #666;
	float: left;
	min-width: 110px;
	height: 40px;
	position: relative;
	line-height: 26px;
	padding: 7px 11px;
	border-right: 1px solid #eaeaea
}

.sf-scroll-fixed .block.price {
	position: relative;
	min-width: 188px
}

.sf-scroll-fixed .block.price .text {
	color: #666;
	padding: 3px 0 3px 5px;
	margin: 0 2px;
	width: 60px;
	height: 24px;
	line-height: 18px;
	border: 1px solid #dedede;
	background-color: #fff;
	vertical-align: middle;
	font-family: arial, tahoma, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}

.sf-scroll-fixed .block.price .button {
	width: 40px;
	color: #666;
	height: 24px;
	margin-left: 2px;
	line-height: 24px;
	cursor: pointer;
	border: 1px solid #dedede;
	background-color: #f6f6f6;
	box-sizing: content-box;
	vertical-align: middle
}

.sf-scroll-fixed .block.price span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}

.sf-scroll-fixed .block.order {
	border: none;
}

.sf-scroll-fixed .block.order a {
	float: left;
	margin-right: 15px;
}
/*机构 */
.organization {
	color: #333;
	position: relative;
}

.organization .swiper-button-prev {
	left: -60px;
	top: calc(50% + 33px);
}

.organization .swiper-button-next {
	right: -60px;
	top: calc(50% + 33px);
}

.organization .title {
	font-size: 26px;
	margin-bottom: 40px;
}

.organization .subtitle {
	margin-top: 10px;
}

.orglist {
	margin: 20px -6px 0;
}

.orglist a {
	float: left;
	width: 190px;
	height: 65px;
	border: 1px solid #e3e3e3;
	margin: 0 6px 30px;
}

.orglist a img {
	display: block;
	width: 100%;

}
