/* member_index basic */
.member_menu{font-size:14px;font-family:"微软雅黑";}
.member_right{float:right;width:960px;text-align:left;font-family:"微软雅黑";}
.right_t{color:#0ba0b4;font-size:24px;height:50px;line-height:50px;border-bottom:1px solid #eeeeee;}
.member_menu li{float:left;border-bottom:1px solid #eeeeee;height:50px;line-height:50px;width:25%;text-align:center;}
@media (max-width: 991px) {
	.right_t{font-size:16px;line-height:16px;padding-top:15px;padding-bottom:15px;}
	.right_t .ico{display:block;width:4px;height:16px;background-color:#0091bd;margin-right:12px;float:left;}
	.member_menu li{float:left;width:25%;}
	.member_menu li a{color:#000000;}
	.member_menu li.sel{border-bottom:1px solid #0091bd;}
	.member_menu li.sel a{color:#0091bd;}
	.member_right{width:100%;}
}
@media (min-width: 992px) {
	.member_menu{float:left;width:200px;}
	.member_menu li{padding-left:70px;text-align:left;width:200px;}
	.member_menu li a{color:#333333;}
	.member_menu li.sel a{color:#0091bd;}
	.member_menu li:hover a{color:#fff;}
	.member_menu li#ico_index{background:url(../images/ico_m_index.png) no-repeat 24px 15px;}
	.member_menu li#ico_index.sel{background:url(../images/ico_m_index3.png) no-repeat 24px 15px;}
	.member_menu li#ico_index:hover{background:url(../images/ico_m_index2.png) no-repeat 24px 15px #0091bd;}
	.member_menu li#ico_info{background:url(../images/ico_m_info.png) no-repeat 24px 15px;}
	.member_menu li#ico_info.sel{background:url(../images/ico_m_info3.png) no-repeat 24px 15px;}
	.member_menu li#ico_info:hover{background:url(../images/ico_m_info2.png) no-repeat 24px 15px #0091bd;}
	.member_menu li#ico_addr{background:url(../images/ico_m_addr.png) no-repeat 24px 15px;}
	.member_menu li#ico_addr.sel{background:url(../images/ico_m_addr3.png) no-repeat 24px 15px;}
	.member_menu li#ico_addr:hover{background:url(../images/ico_m_addr2.png) no-repeat 24px 15px #0091bd;}
	.member_menu li#ico_order{background:url(../images/ico_m_order.png) no-repeat 24px 17px;}
	.member_menu li#ico_order.sel{background:url(../images/ico_m_order3.png) no-repeat 24px 17px;}
	.member_menu li#ico_order:hover{background:url(../images/ico_m_order2.png) no-repeat 24px 17px #0091bd;}
	.member_menu li#ico_comment{background:url(../images/ico_m_comment.png) no-repeat 24px 17px;}
	.member_menu li#ico_comment.sel{background:url(../images/ico_m_comment3.png) no-repeat 24px 17px;}
	.member_menu li#ico_comment:hover{background:url(../images/ico_m_comment2.png) no-repeat 24px 15px #0091bd;}
	.member_menu li#ico_fav{background:url(../images/ico_m_fav.png) no-repeat 24px 19px;}
	.member_menu li#ico_fav.sel{background:url(../images/ico_m_fav3.png) no-repeat 24px 19px;}
	.member_menu li#ico_fav:hover{background:url(../images/ico_m_fav2.png) no-repeat 24px 19px #0091bd;}
	.member_menu li#ico_youhui{background:url(../images/ico_m_youhui.png) no-repeat 24px 17px;}
	.member_menu li#ico_youhui.sel{background:url(../images/ico_m_youhui3.png) no-repeat 24px 17px;}
	.member_menu li#ico_youhui:hover{background:url(../images/ico_m_youhui2.png) no-repeat 24px 17px #0091bd;}
	.member_menu li a{color:#333333;}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.member_right{width:100%;margin-top:30px;}
	.member_menu li{padding-left:50px;}
	.member_menu{float:left;width:100%;border-bottom:1px solid #eeeeee;}
	.member_menu li{float:left;width:130px;}
	.member_menu li.sel{border-left:0 none;}
}
@media (min-width: 1200px) {
    .member_menu li.sel{border-left:2px solid #0091bd;}
	.member_menu li.hover{background-color:#0091bd;color:#fff;}
}
/* member_index basic */

/* member_index begin */
.m_1{width:45%;float:left;padding-left:10px;border-right:1px solid #efefef;margin-top:30px;}
.m_1 dl{line-height:1.8;margin-left:16px;}
.m_1 dt{color:#333333;font-size:20px;padding-bottom:10px;}
.m_1 .p{font-size:14px;color:#666666;}
.m_1 .l{font-size:14px;color:#666666;}
.m_1 .e{font-size:12px;margin-top:10px;}
.m_1 .e a{color:#0091bd;}

.m_2{width:53%;float:left;margin-top:30px;padding-left:2%;}
.m_2 dl{float:left;width:33.33%;text-align:center;}
.m_2 dt{color:#0091bd;font-size:20px;line-height:2;}
.m_2 dd{color:#666666;font-size:14px;line-height:2;}
.m_2 .btn_p{ background-color:#0091bd;height:40px;line-height:40px;width:90%;margin:0 5%;text-align:center;margin-top:10px;}
.m_2 .btn_p a{color:#fff;}
.m_2 .btn_m{ background-color:#f0f0f0;height:40px;line-height:40px;width:90%;margin:0 5%;text-align:center;margin-top:10px;}
.m_2 .btn_m a{color:#666666;}

.m_3{width:100%;clear:both;margin-top:40px;padding-top:40px;border-top:1px solid #efefef;}
.m_3 dl{float:left;width:25%;text-align:center;}
.m_3 dt img{width:70%;max-width:120px;}
.m_3 dd{font-size:14px;line-height:2;}
.m_3 dd a{color:#666;}
.m_3 dd span{color:#0ba0b4;}
@media (max-width: 991px) {
	.m_1{border-right:0;width:100%;}
	.m_1 dl{line-height:1.6;margin-left:0.8rem;}
	.m_1_pic{width:30%;}
	.m_1_info{width:70%;padding-left:3%;}
	.m_1_pic img{width:100%;}
	
	.m_2{width:100%;margin-top:5%;padding-top:5%;border-top:1px solid #eeeeee;}
	
	.m_3{padding-top:3%;padding-bottom:3%;}
	.m_3 dl:nth-child(3){clear:both;}
	.m_3 dl{width:50%;margin-top:3%;}
	.m_3 dt img{width:50%;max-width:80px;}
}
/* member_index end */

/* member_info begin */
.member_info{margin-top:2%;font-size:14px;font-family:"微软雅黑";line-height: 22px;}
.member_info table{border-collapse:collapse;width:100%;}
.member_info .input1{border:1px solid #cccccc;height:32px;line-height:32px;width:180px;}
.member_info .input2{border:1px solid #cccccc;height:32px;line-height:32px;width:500px;}
.member_info .text{width:200px;color:#666;float:left;}
.member_info .edit{float:left;}
.member_info .select1{height:32px;line-height:32px;}
.member_info .share_sel_1{height:32px;line-height:32px;}
.member_info .button1{background-color:#0091bd;color:#fff;height:36px;line-height:36px;width:150px;border:0;font-size:14px;}
.member_info .td1{width:100px;height:58px;line-height:58px;text-align:right;color:#333333;padding-right:20px;}
.member_info .td2{color:#666666;}
.member_info .btn{padding-top:16px;padding-left:100px;}

.member_password{margin-top:2%;font-size:14px;font-family:"微软雅黑";margin-bottom:40px;line-height: 22px;}
.member_password table{border-collapse:collapse;padding:0;margin:0;}
.member_password .input1{border:1px solid #cccccc;height:32px;line-height:32px;width:300px;}
.member_password .td1{width:100px;height:58px;line-height:58px;text-align:right;color:#333333;padding-right:20px;}
.member_password .td2{color:#666666;}
.member_password .btn{padding-top:16px;padding-left:100px;}
.member_password .button1{background-color:#0091bd;color:#fff;height:36px;line-height:36px;width:150px;border:0;font-size:14px;}

@media (max-width: 991px) {
	.member_info table{width:100%;}
	.member_info .td1{display:none;}
	.member_info .td2{width:100%;line-height:2;}
	.member_info .input1{width:100%;}
	.member_info .input2{width:100%;}
	.member_info .btn{padding-left:0;}
	.member_info .button1{width:100%;}
	.member_info .select1{width:100%;}
        .member_info .share_sel_1{width:100%;}
	.member_info .td_birthday .select1{width:30%;}
	
	.member_password table{width:100%;}
	.member_password .td1{display:none;}
	.member_password .td2{width:100%;line-height:2;}
	.member_password .input1{width:100%;}
	.member_password .btn{padding-left:0;}
	.member_password .button1{width:100%;}
	.tr_phone_t td{color:#666;font-size:14px;padding-top:6px;}
}

/* member_info end */

/* member_address begin */
.member_address{margin-top:2%;}
.btn_address_add{float:right;font-size:14px;color:#666;padding-right:10px;}

.address_item{border-bottom:1px dashed #eaeaea;line-height:2;padding:10px 0;}
.address_item_l{float:left;width:88%;}
.address_item_r{float:right;width:12%;}
.address_item_l .name{display:inline-block;width:60px;color:#000;font-size:16px;}
.address_item_l .a1 .addr{color:#666666;}
.address_item_l .a2 span{display:inline-block;margin-right:16px;color:#666666;}
.address_item_r .m span{display:block;text-align:center;color:#0091bd;border:1px solid #0091bd;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.address_item_r .m a{display:block;background-color:#0091bd;color:#fff; text-align:center;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border: 1px solid #0091bd;}
.address_item_r .e a{display:inline-block;text-align:center;width:50%;margin-top:10px;}
.address_item_r .e a.edit{color:#0091bd;}
@media (max-width: 991px) {
	.address_item_l{width:76%;}
    .address_item_r{width:24%;}
}
/* member_address end */

/* member_address add begin */
.member_address_add table{border-collapse:collapse;width:100%;}
.member_address_add .input1{border:1px solid #cccccc;height:32px;line-height:32px;width:180px;}
.member_address_add .input2{border:1px solid #cccccc;height:32px;line-height:32px;width:500px;}
.member_address_add .share_sel_1{border:1px solid #cccccc;height:32px;line-height:32px;}
.member_address_add .button1{background-color:#0091bd;color:#fff;height:36px;line-height:36px;width:150px;border:0;font-size:14px;}
.member_address_add .td1{width:100px;height:58px;line-height:58px;text-align:right;color:#333333;padding-right:20px;}
.member_address_add .td2{color:#666666;}
.member_address_add .btn{padding-top:16px;padding-left:100px;}
@media (max-width: 991px) {
	.member_address_add table{width:100%;}
	.member_address_add .td1{display:none;}
	.member_address_add .td2{width:100%; line-height:2;}
	.member_address_add .input1{width:100%;}
	.member_address_add .input2{width:100%;}
	.member_address_add .btn{padding-left:0;}
	.member_address_add .button1{width:100%;}
	.member_address_add .share_sel_1{width:100%;}
}
/* member_address add end */

/* member_order begin */
.member_order{margin-top:2%;font-size:14px;}
.member_order table{border-collapse:collapse;width:100%;border:1px solid #eeeeee;}
.member_order table td{border:1px solid #eeeeee;text-align:center;}
.member_order thead td{background-color:#f3f3f3;padding:8px 5px;font-family:"微软雅黑";font-size:14px;}
.member_order .td_sn{width:70px;}
.member_order tbody td{font-family:"宋体";font-size:12px;}
.member_order tbody .td_pro{text-align:left;}
.member_order .td_realname{width:70px;}
.member_order .td_money{width:80px;}
.member_order .td_time{width:80px;}
.member_order .td_status{width:80px;}
.member_order .td_action{width:80px;}
.member_order .td_action a{display:block;margin:10px 2px;line-height:2;}
.member_order .td_action .btn_pay{background-color:#0091bd;border:1px solid #0091bd;color:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.member_order .td_action .btn_sure{background-color:#0091bd;border:1px solid #0091bd;color:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.member_order .td_action .btn_comment{background-color:#0091bd;border:1px solid #0091bd;color:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.member_order .td_action .btn_see{border:1px solid #0091bd;color:#0091bd;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}

/* member_order end */

/* member_order_info begin */
.member_order_info{margin-top:0;font-size:14px;font-family:"微软雅黑";}
.order_title{font-size:18px;color:#000;border-bottom:1px solid #ddd;line-height:3;}
.order_title span{color:#0091bd;}

.order_info_t {font-size:18px;font-family:"微软雅黑";margin-top:20px;margin-bottom:20px;line-height:18px;color:#000000;}
.order_info_t .ico{display:block;width:5px;height:18px;background-color:#0091bd;margin-right:12px;float:left;}

.order_info .fl{font-family:"宋体";font-size:13px;margin:5px 10px;height:26px;line-height:26px;}
.order_info .gray{color:#666;}
.order_info a.pay{display:inline-block; background-color:#0091bd; text-align:center;color:#fff;height:26px;line-height:26px;padding:0 10px;}
.order_info a.cancel{display:inline-block; background-color:#ccc; text-align:center;color:#fff;height:26px;line-height:26px;padding:0 10px;margin-left:10px;}

.order_address td{height:26px;line-height:26px;padding:5px 10px;font-family:"宋体";font-size:13px;}

.order_info_pro table{ border-collapse:collapse;border:1px solid #eee;width:100%;font-size:13px;}
.order_info_pro thead td{ background-color:#f3f3f3; text-align:center;}
.order_info_pro td{padding:5px;border:1px solid #eee;text-align:center;}
.order_info_pro .pic{width:90px;border:1px solid #eee;margin-right:10px;}
.order_info_pro .pic img{width:90%;}
.order_info_pro .t{ text-align:left;}
.order_info_pro .t a{display:block;margin-top:10px;color:#000;}
.order_info_pro .t span{color:#666;display:block;margin-top:6px;margin-bottom:6px;}

.order_record li{font-family:"宋体";font-size:13px;}
.order_record{padding-bottom:20px;}
.member_order_info  .btn_pay{display:inline-block;padding:0 5px;background-color:#0091bd;border:1px solid #0091bd;color:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.member_order_info  .btn_confirm{display:inline-block;padding:0 5px;background-color:#0091bd;border:1px solid #0091bd;color:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.member_order_info .btn_cancel{display:inline-block;padding:0 5px;border:1px solid #0091bd;color:#0091bd;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
@media (max-width: 991px) {
   
}
/* member_order_info end */

/* member_comment begin */
.right_t .c2{padding-left:20px;float:left;}
.right_t .c2 a{color:#666666;font-size:16px;}

.member_comment{margin-top:16px;margin-bottom:16px;}
.member_comment table{width:100%;border:1px solid #eeeeee;border-collapse:collapse;}
.member_comment td{border:1px solid #eeeeee;padding:5px;text-align:center;}
.member_comment thead td{background-color:#f3f3f3;padding:8px 5px;font-family:"微软雅黑";font-size:14px;}
.member_comment td a.btn_comment{line-height:2;display:inline-block;background-color:#0091bd;color:#fff; text-align:center;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border: 1px solid #0091bd;padding:0 12px;}

.member_comment .pic{width:70px;border:1px solid #eee;margin:10px;}
.member_comment .pic img{width:90%;}
.member_comment .t{text-align:left;margin-top:10px;line-height:2;}
.member_comment .t a{color:#000;}
.member_comment .t span{color:#666;margin-top:6px;margin-bottom:6px;}
@media (max-width: 991px) {
	.member_comment td{width:100%;}
	
	.member_comment .pic{width:16%;margin:2%;}
	.member_comment .t{width:78%;margin-right:2%;}
   
}
/* member_comment end */

/* member_comment_add begin */
.member_comment_add{font-size:14px;font-family:"微软雅黑";}
.member_comment_add .pic{width:90px;border:1px solid #eee;margin:10px; text-align:center;}
.member_comment_add .pic img{width:90%;}
.member_comment_add .t{text-align:left;margin-top:10px;line-height:2;}
.member_comment_add .t a{color:#000;font-size:16px;}
.member_comment_add .t span{color:#666;margin-top:6px;margin-bottom:6px;}
.member_comment_add .t2{margin-top:10px;}
.member_comment_add .star{margin-top:10px;}
.member_comment_add .star input{vertical-align:baseline;}
.member_comment_add .detail{margin-top:10px;}
.member_comment_add .detail textarea{width:100%;height:100px;border:1px solid #ddd;}
.member_comment_add .btn{margin-top:6px;margin-bottom:20px;}
.member_comment_add .btn input{ border:none;width:135px;height:35px;line-height:35px; background-color:#0091bd;color:#fff;font-size:14px;}
@media (max-width: 991px) {
	.member_comment_add .star input{vertical-align:middle;}
	.member_comment_add .pic{width:25%;margin-right:5%;}
	.member_comment_add .t{width:65%;}
    .member_comment_add .btn input{ border:none;width:100%;}
}
/* member_comment_add end */

/* member_fav begin */
.member_fav{margin-top:16px;margin-bottom:16px;}
.member_fav table{width:100%;border:1px solid #eeeeee;border-collapse:collapse;}
.member_fav td{border:1px solid #eeeeee;padding:5px;text-align:center;}
.member_fav thead td{background-color:#f3f3f3;padding:8px 5px;font-family:"微软雅黑";font-size:14px;}
.member_fav td a.btn_comment{color:#0091bd;}

.member_fav .pic{width:70px;border:1px solid #eee;margin-right:10px;margin:10px;}
.member_fav .pic img{width:90%;}
.member_fav .t{text-align:left;margin-top:10px;line-height:2;}
.member_fav .t a{color:#000;}
.member_fav .t span{color:#666;margin-top:6px;margin-bottom:6px;}
.member_fav .green{color:#090;}
.member_fav .green span{color:#090;}
.member_fav .red{color:#f00;}
.member_fav .red span{color:#f00;}
.member_fav .td_action a.btn_cart{display:block;line-height:28px; background-color:#0091bd;color:#fff;height:28px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.member_fav .td_action a.btn_del{display:block;line-height:28px; background-color:#ccc;color:#fff;height:28px;margin-top:6px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
@media (max-width: 991px) {
	.member_fav .td_pro{width:75%;}
	.member_fav .td_action{width:25%;}
	.member_fav .pic{width:25%;margin-right:5%;}
	.member_fav .t{width:65%;}
}
/* member_fav end */

/* member_youhui begin */

.member_youhui{margin-top:16px;margin-bottom:16px;}
.member_youhui table{width:100%;border:1px solid #eeeeee;border-collapse:collapse;}
.member_youhui td{border:1px solid #eeeeee;padding:5px;text-align:center;line-height:2;}
.member_youhui thead td{background-color:#f3f3f3;padding:8px 5px;font-family:"微软雅黑";font-size:14px;}
.member_youhui .td_money{color:#f00;font-size:16px;}
.member_youhui .td_money2{color:#212121;font-size:16px;}
@media (max-width: 991px) {
	.member_youhui .td_sn{width:23%; word-break:break-all;}
}

/* member_youhui end */

/* member_point begin */
.member_point{margin-top:0px;margin-bottom:16px;}
.member_point_header{height:46px;line-height:46px;font-size:16px;color:#666666;margin:5px 0;}
.member_point_header span{font-size:20px;color:#0091bd;}
.member_point_header a{background-color:#0091bd;color:#fff;display:inline-block;height:30px;line-height:30px;padding:0 12px;}
.member_point table{width:100%;border:1px solid #eeeeee;border-collapse:collapse;}
.member_point td{border:1px solid #eeeeee;padding:8px 3px;text-align:center;line-height:2;}
.member_point thead td{background-color:#f3f3f3;padding:8px 5px;color:#666;font-size:14px;font-family:"微软雅黑";}
@media (max-width: 991px) {
    .member_point .td_time{width:80px;}
}
/* member_point end */

/* member_chongzhi begin */
.member_chongzhi{margin-top:2%;font-size:14px;font-family:"微软雅黑";}
.member_chongzhi table{border-collapse:collapse;width:100%;}
.member_chongzhi .input1{border:1px solid #cccccc;height:32px;line-height:32px;width:180px;}
.member_chongzhi .text{width:200px;color:#666;float:left;}
.member_chongzhi .select1{height:32px;line-height:32px;width:180px;}
.member_chongzhi .button1{background-color:#0091bd;color:#fff;height:36px;line-height:36px;width:150px;border:0;font-size:14px;border:1px solid #ccc;}
.member_chongzhi .td1{width:100px;height:58px;line-height:58px;text-align:right;color:#333333;padding-right:20px;}
.member_chongzhi .td2{color:#333333;}
.member_chongzhi .btn{padding-top:16px;padding-left:100px;}
@media (max-width: 991px) {
    .member_chongzhi table{width:100%;}
    .member_chongzhi .td1{display:none;}
    .member_chongzhi .td2{width:100%; line-height:2;}
    .member_chongzhi .input1{width:100%;}
    .member_chongzhi .btn{padding-left:0;}
    .member_chongzhi .button1{width:100%;}
    .member_chongzhi .select1{width:100%;}
}
/* member_chongzhi end */
