body.modal-open {
	position: fixed;
	width: 100%;
}

.text-green {
	color: #19aa6b;
}

.text-red {
	color: #e20100;
}

.m-topnav {
	position: fixed;
	top: 0;
	height: .88rem;
	background: #fff;
	z-index: 999;
	left: 0;
	right: 0;
	padding: 0 .2rem;
}

.m-topnav .logo {
	width: 3.41rem;
}

.m-topnav img {
	display: block;
	width: 100%;
}

.m-topnav .menu {
	width: .36rem;
}

.m-topnav+div {
	padding-top: .88rem;
}

.banner a,
.banner img {
	display: block;
	width: 100%;
}

.copyright {
	text-align: center;
	color: #999;
	font-size: .18rem;
	padding: 0 .46rem .4rem;
	line-height: .26rem;

}

.tabbarH {
	height: 1.1rem;
}

.tabbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 999;
	height: 1.1rem;
	border-top: 1px solid #ccc;
}

.tabbar a {
	text-align: center;
	font-size: .2rem;
	color: #999
}

.tabbar a.active {
	color: #29b4ee;
}

.tabbar a i {
	display: block;
	height: .45rem;
	background: no-repeat center center;
	margin-bottom: .13rem;
}

.tabbar a i.icon1 {
	background-image: url('../../img/tab/tabicon1.png');
	background-size: auto .44rem;
}

.tabbar a.active i.icon1 {
	background-image: url('../../img/tab/cur-tabicon1.png');
}

.tabbar a i.icon2 {
	background-image: url('../../img/tab/tabicon2.png');
	background-size: auto .45rem;
}

.tabbar a.active i.icon2 {
	background-image: url('../../img/tab/cur-tabicon2.png');
}

.tabbar a i.icon3 {
	background-image: url('../../img/tab/tabicon3.png');
	background-size: auto .44rem;
}

.tabbar a.active i.icon3 {
	background-image: url('../../img/tab/cur-tabicon3.png');
}
