
.text-green {
	color: #19aa6b;
}

.text-red {
	color: #e20100;
}

.m-topnav {
	position: fixed;
	top: 0;
	height: .88rem;
	background: #fff;
	z-index: 999;
	left: 0;
	right: 0;
	padding: 0 .2rem;
}

.m-topnav .logo {
	width: 3.41rem;
}

.m-topnav img {
	display: block;
	width: 100%;
}

.m-topnav .menu {
	width: .36rem;
}

.m-topnav+div {
	padding-top: .88rem;
}

.banner a,
.banner img {
	display: block;
	width: 100%;
}

.searchbar {
	background: #29b4ee;
	padding: .14rem .2rem;
}

.searchbar>div {
	background: #fff;
	border-radius: 1rem;
	height: .6rem;
	padding: 0 .26rem;
}

.searchbar>div img {
	width: .26rem;
	margin-right: .15rem;
	display: block;
}

.searchbar>div input {
	border: none;
}

.filterbar {
	border-bottom: 1px solid #eaeaea;
	height: .9rem;
	padding: 0 .2rem;
}

.filterbar>span {
	padding-left: .15rem;
	color: #666;
	font-size: .28rem;
}

.filterbar>span.filter-item-sort {
	padding-right: .26rem;
	background: url(../../img/filter/arrow.png) no-repeat center right;
	background-size: .16rem auto;
}
.filterbar>span.filter-item-sort.filter-item-desc{
	background-image: url(../../img/filter/desc.png);
}
.filterbar>span.filter-item-sort.filter-item-asc{
	background-image: url(../../img/filter/asc.png);
}
.filterbar>span.filter-item-filter {
	padding-right: .32rem;
	background: url(../../img/filter/filter.png) no-repeat center right;
	background-size: .28rem auto;
	position: relative;
}

.filterbar>span.filter-item-filter::before {
	content: '';
	width: 1px;
	height: .4rem;
	background: #eaeaea;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
