body.modal-open {
	position: fixed;
	width: 100%;
}

.text-green {
	color: #19aa6b;
}

.text-red {
	color: #e20100;
}

.text-blue {
	color: #29b4ee;
}

.mt10 {
	margin-top: .1rem;
}

.mt20 {
	margin-top: .2rem;
}

.mt30 {
	margin-top: .3rem;
}

.mt40 {
	margin-top: .4rem;
}

.ml10 {
	margin-left: .1rem;
}

.ml20 {
	margin-left: .2rem;
}
.mb30{
	margin-bottom: .3rem;
}
.solid-bottom {
	height: 1px;
	width: 100%;
	background: #ddd;
	transform: scaleY(.5);
}

.bgf4 {
	background: #F4F4F4;
}

.bg-white {
	background: #fff;
}

.m-topnav,
.m-sub-topnav {
	position: fixed;
	top: 0;
	height: .9rem;
	background: #fff;
	z-index: 999;
	left: 0;
	right: 0;
	padding: 0 .2rem;
}

.m-topnav .logo {
	width: 3.41rem;
}

.m-topnav img {
	display: block;
	width: 100%;
}

.m-topnav .menu {
	width: .36rem;
}

.m-topnav+div,
.m-sub-topnav+div {
	padding-top: .9rem;
}

.m-sub-topnav {
	background: #f4f4f4;
	padding: 0 .3rem;
}

.m-sub-topnav.bg-white {
	background: #fff;
}

.m-sub-topnav .reback {
	display: block;
	width: .37rem;
	height: 100%;
	background: url(../../img/details/rebackpng.png) no-repeat center center;
	background-size: .17rem auto;
}

.m-sub-topnav .menu {
	display: block;
	width: .4rem;
	height: 100%;
	background: url(../../img/details/menu.png) no-repeat center center;
	background-size: .4rem auto;
}

.m-sub-topnav .menulist {
	position: absolute;
	top: .88rem;
	right: 0;
	width: 2rem;
	background: #f4f4f4;
	display: none;
}

.m-sub-topnav.bg-white .menulist {
	background: #fff;
}

.m-sub-topnav .menulist a {
	display: block;
	height: .5rem;
	color: #999;
	font-size: .24rem;
	padding-left: .1rem;
}

.m-sub-topnav .menulist a i {
	width: .24rem;
	height: .24rem;
	display: block;
	background: no-repeat center center;
	margin-right: .1rem;
}

.m-sub-topnav .menulist a i.icon1 {
	background-image: url(../../img/details/home.png);
	background-size: .24rem auto;
}

.m-sub-topnav .menulist a i.icon2 {
	background-image: url(../../img/details/order.png);
	background-size: .18rem auto;
}

.m-sub-topnav .menulist a i.icon3 {
	background-image: url(../../img/details/tx.png);
	background-size: .22rem auto;
}

.banner a,
.banner img {
	display: block;
	width: 100%;
}

.swiper-pagination-bullet {
	width: .2rem;
	height: .2rem;
	background: #333;
	border: 1px solid #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #29b4ee;
}

.org-recommend-area .swiper-pagination-bullet {
	width: .14rem;
	height: .14rem;
	background: rgba(0, 0, 0, .4);
	opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 .05rem;
}

.org-recommend-area .swiper-pagination-bullet-active {
	background: rgba(0, 0, 0, .8);
}

.org-recommend-area .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 .02rem;
}

.copyright {
	text-align: center;
	color: #999;
	font-size: .18rem;
	padding: 0 .46rem .4rem;
	line-height: .26rem;

}

.tabbarH {
	height: 1.1rem;
}

.tabbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 999;
	height: 1.1rem;
	border-top: 1px solid #ccc;
}

.tabbar a {
	text-align: center;
	font-size: .2rem;
	color: #999
}

.tabbar a.active {
	color: #29b4ee;
}

.tabbar a i {
	display: block;
	height: .45rem;
	background: no-repeat center center;
	margin-bottom: .13rem;
}

.tabbar a i.icon1 {
	background-image: url('../../img/tab/tabicon1.png');
	background-size: auto .44rem;
}

.tabbar a.active i.icon1 {
	background-image: url('../../img/tab/cur-tabicon1.png');
}

.tabbar a i.icon2 {
	background-image: url('../../img/tab/tabicon2.png');
	background-size: auto .45rem;
}

.tabbar a.active i.icon2 {
	background-image: url('../../img/tab/cur-tabicon2.png');
}

.tabbar a i.icon3 {
	background-image: url('../../img/tab/tabicon3.png');
	background-size: auto .44rem;
}

.tabbar a.active i.icon3 {
	background-image: url('../../img/tab/cur-tabicon3.png');
}
