.card {
	background: #fff;
	padding: .3rem;
	font-size: .3rem;
	color: #404040;
	position: relative;

}

.card.card-sm {
	padding-top: .1rem;
	padding-bottom: .1rem;
}

.card.name {
	font-size: .32rem;
	line-height: .5rem;

}

.card .price {
	font-size: .28rem;
}

.card .price .num {
	font-size: .4rem;
}

.card .countdown {
	font-size: .28rem;
}

.card .countdown var {
	font-style: normal;
	font-size: .4rem;
	color: #29b4ee;
}

.card .countdown var,
.card .countdown em {
	/* vertical-align: middle;
	line-height: .3rem; */
}

.card .pm-subscribe {
	color: #29b4ee;
	border: 1px solid #29b4ee;
	font-size: .22rem;
	width: 1.2rem;
	line-height: .44rem;
	border-radius: .08rem;
	text-align: center;
	position: absolute;
	right: .3rem;
	top: .26rem;
}

.card .pm-img-list {
	margin-left: .2rem;
}

.card .pm-img-list .small-pic {
	width: 1.2rem;
	border-radius: .1rem;
	overflow: hidden;
}

.card .pm-img-list .small-pic img {
	display: block;
	width: 100%;
}

.card .pm-img-list .add {
	width: .21rem;
	margin: 0 .06rem;
}

.plus-minus-operation .plus,
.plus-minus-operation .minus {
	width: .5rem;
	height: .5rem;
	display: block;
	border: 1px solid #ddd;
	background: no-repeat center center;
	background-size: .26rem auto;
}

.plus-minus-operation .plus {
	background-image: url(../../img/add6.png);
}

.plus-minus-operation .minus {
	background-image: url(../../img/minus3.png);
}

.plus-minus-operation input {
	height: .5rem;
	border: 1px solid #ddd;
	margin: 0 .1rem;
	width: 1.6rem;
	font-size: .28rem;
	color: #404040;
	text-align: center;
}

.plus-minus-operation .save-btn {
	width: 1rem;
	line-height: .5rem;
	text-align: center;
	border-radius: .08rem;
	font-size: .28rem;
	margin-left: .2rem;
}

.plus-minus-operation .save-btn.btn-blue {
	color: #fff;
	background: #29b4ee;


}

/* 报名 */
.pm-apply-button {
	width: 2.35rem;
	height: .9rem;
	color: #fff;
	background: #29b4ee;
	border-radius: .08rem;
	font-size: .28rem;
	text-align: center;
}

.card .msg {
	width: 2.2rem;
	height: .9rem;
	border: 1px solid #ffcc7f;
	background: #ffffe5;
	font-size: .18rem;
	color: #333;
	line-height: .24rem;
	margin-left: .03rem;
	padding: 0 .1rem;
}

.card .msg .tip {
	background: url(../../img/msg_bg.png) no-repeat left top;
	padding-left: .23rem;
	background-size: .15rem auto;
}

.card .pay_help {
	font-size: .18rem;
	color: #333;
	height: .36rem;
	line-height: .4rem;
	background: url(../../img/help.png) no-repeat left center;
	background-size: .36rem auto;
	padding-left: .5rem;
}

.pm-remind {
	text-align: center;
	color: #999;
	font-size: .24rem;
	position: relative;
}

.pm-remind::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: .3rem;
	right: .3rem;
	height: 1px;
	background: #f4f4f4;
	transform: scaleY(.5);
}

.pm-remind em {
	font-size: .3rem;
}

.pai-pay-infor,
.pai-info {
	font-size: .22rem;
	color: #999;
	line-height: .38rem;
}

.pai-pay-infor>div:nth-child(2) {
	padding: 0 .3rem;
	margin: 0 .2rem;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.pm-addition {
	position: relative;
	z-index: 9999;
}

.detail-for-remind {
	height: .9rem;
}

.detail-for-remind .tab-menu {

	text-align: center;
	background: #fff;
	position: relative;
	color: #333;
	font-size: .28rem;
}

.detail-for-remind .tab-menu.fixed {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 0 0 .1rem rgba(0, 0, 0, .1);
	z-index: 9999;

}

.detail-for-remind .tab-menu::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background: #f4f4f4;
	transform: scaleY(.5);
}

.detail-for-remind .tab-menu a {
	line-height: .9rem;
	display: inline-block;
	padding: 0 .1rem;
}

.detail-for-remind .tab-menu .active a {
	color: #29b4ee;
	position: relative;

}

.detail-for-remind .tab-menu .active a::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background: #29b4ee;
	transform: scaleY(.5);
}

.detail-main {
	padding: .2rem .3rem;
	background: #fff;
}

.detail-main .pai-title {
	text-align: center;
}

.detail-main .pai-title span {
	position: relative;
	color: #29b4ee;
	font-size: .32rem;
}

.detail-main .pai-title span::before,
.detail-main .pai-title span::after {
	content: '';
	display: block;
	width: .12rem;
	height: .04rem;
	position: absolute;
	top: 50%;
	background: url(../../img/titlebg.png);
	background-size: .12rem auto;
}

.detail-main .pai-title span::before {
	transform: translateY(-50%) scale(-1);
	left: -.3rem;
}

.detail-main .pai-title span::after {
	transform: translateY(-50%);
	right: -.3rem;
}

.detail-main .pai-title {
	border-top: 1px solid #efefef;
	padding: .4rem 0;
}

.addition-desc .addition-desc-title {
	text-align: center;
	font-size: .32rem;
	color: #333;
	font-weight: bold;
	padding-bottom: .4rem;
}

.addition-desc table {
	border-collapse: collapse;
	width: 6.5rem;
	margin-left: auto;
	margin-right: auto;
	font-size: .16rem;
	color: #333;
	border: 1px solid #29b4ee;
}

.addition-desc table.fixed {
	table-layout: fixed;
}

.addition-desc table th {
	background: #29b4ee;
	text-align: center;
	font-size: .18rem;
	font-weight: bold;
	line-height: .3rem;
	color: #fff;
}

.addition-desc table td {
	border: 1px solid #29b4ee;
	line-height: .25rem;
	padding-left: .05rem;
}

.addition-desc table .tip td {
	line-height: .3rem;

}

.addition-desc table .tip.nosolid td {
	border: none;
}

.addition-desc table+.sf-pic-slide {
	margin-top: .4rem;
}

.addition-desc .sf-pic-slide .slide-bigpic img,
.addition-desc .sf-pic-slide .slide-bigpic video {
	display: block;
	width: 100%;
}

.addition-desc .sf-pic-slide .slide-bigpic+.slide-bigpic {
	margin-top: .2rem;
}

.detail-common-text {
	color: #333;
	font-size: .18rem;
	line-height: .32rem;
}

.detail-common-text p+p {
	margin-top: .3rem;
}

.record-table {
	margin: 0 .25rem;
}

.record-table table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	color: #848484;
	font-size: .18rem;
}

.record-table table tr th {
	font-size: .18rem;
	padding: .15rem 0;
	border-bottom: 1px solid #eee;
}

.record-table table tr td {
	padding: .15rem 0;
	border-bottom: 1px solid #eee;

}

.record-table table tr:nth-child(2) {
	color: #29b4ee;
	font-weight: 600;
}

.record-table table tr .tag {
	border-radius: .05rem;
	padding: 0 .02rem;
	border: 1px solid #848484;
}

.record-table table tr:nth-child(2) .tag {
	border-color: #29b4ee;
}

.org-recommend-area {
	background: #fff;
	padding: 0 .3rem .2rem;
}

.org-recommend-area>.title {
	line-height: .94rem;
	text-align: center;
	color: #333;
	font-size: .3rem;
}

.org-recommend-area .recommend-list {
	padding-bottom: .6rem;
}

.org-recommend-area .recommend-list .recommend-card {
	display: block;
	position: relative;
	color: #333;
	line-height: .3rem;
	font-size: .2rem;
	width: 2.2rem;
	margin-bottom: .1rem;
}

.org-recommend-area .recommend-list>i {
	width: 2.2rem;
}

.org-recommend-area .recommend-list .recommend-card img {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.org-recommend-area .recommend-list .recommend-card .title {
	margin: 0 .1rem;
}

.org-recommend-area .recommend-list .recommend-card .price-area {
	margin: .1rem;
}

.org-recommend-area .recommend-list .recommend-card .price-area .price {
	font-size: .26rem;
}

.sub-tabbarH {
	height: 1.2rem;
}

.sub-tabbar {
	position: fixed;
	background: #fff;
	border-top: 1px solid #ccc;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.2rem;
	z-index: 999;
}

.sub-tabbar a {
	color: #fff;
	text-align: center;
	width: 2.74rem;
	line-height: .66rem;
	border-radius: 1rem;
	background: #29b4ee;
	font-size: .3rem;
}

.sub-tabbar a.btn-yellow {
	background: #f6ad1e;
	margin-left: .7rem;
}
