.steps {
	background: #f8f8f8;
	padding: 1.15rem .3rem .25rem !important;
}

.steps .step-item {
	color: #fff;
	background: #29b4ee;
	height: .82rem;
	width: .82rem;
	border-radius: 100%;
	line-height: .26rem;
	text-align: center;
	position: relative;
	border: 1px solid #29b4ee;
	font-size: .22rem;
}

.steps .step-item.flex {
	padding-top: 0;
}

.steps .step-item:not(:first-child)::before {
	display: block;
	content: '';
	position: absolute;
	width: .4rem;
	border-bottom: 2px dashed #29b4ee;
	top: 50%;
	left: -.55rem;

}

.steps .step-item+.step-item {
	margin-left: .65rem;
}

.steps .step-item.step-item-current~.step-item {
	background: none;
	color: #bde4f5;
	border-color: #bde4f5;
}

.steps .step-item.step-item-current~.step-item::before {
	border-bottom-color: #bde4f5;
}

.card {
	padding: .3rem;
}

.card>.title {
	color: #333;
	font-size: .3rem;
	padding-bottom: .3rem;
}

.steps-state {
	padding-top: .1rem;

}

/* 时间轴 */
.timeline {
	color: #333;
	font-size: .2rem;
}

.timeline .timeline-item {
	padding-bottom: .25rem;
	position: relative;
	padding-left: .4rem;
	line-height: .3rem;
}

.timeline .timeline-item::before,
.timeline .timeline-item:not(:last-child)::after {
	display: block;
	content: '';
	position: absolute;

}

.timeline .timeline-item::before {
	height: .2rem;
	width: .2rem;
	border-radius: 100%;
	background: #ddd;
	left: 0;
}

.timeline .timeline-item::after {
	top: 10px;
	bottom: 0;
	width: 1px;
	background: #ddd;
	left: 5px;
}


.timeline .timeline-item span,
.timeline .timeline-item a {
	vertical-align: middle;
}

.timeline .timeline-item:first-child {
	color: #29b4ee;
}

.timeline .timeline-item:first-child::before {
	background: #29b4ee;
}

.radio,
.check {
	cursor: pointer;
	display: inline-block;
}

.radio input[type=radio],
.check input[type=checkbox] {
	display: none;
}

.radio .radio-inner,
.check .check-inner {
	display: inline-block;
	height: .18rem;
	width: .18rem;
	vertical-align: middle;
	background: url(../../img/unchecked.png) no-repeat;
	background-size: .18rem auto;
}

.radio input[type=radio]:checked+.radio-inner,
.check input[type=checkbox]:checked+.check-inner {
	background-image: url(../../img/checked.png)
}

.submit-btn {
	color: #fff;
	background: #29b4ee;
	width: .4rem;
	height: .24rem;
	line-height: .24rem;
	font-size: .14rem;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
}

.upload {
	color: #ccc;
	text-align: center;
	width: .8rem;
	height: .8rem;
	border: 1px solid #ddd;
	position: relative;
	padding-top: .11rem;
	overflow: hidden;
	font-size: .14rem;
	line-height: 1;
}

.upload .addimg {
	width: .32rem;
}

.upload input {
	position: absolute;
	font-size: 400px;
	right: 0;
	top: 0;
	opacity: 0;
}

.service {
	padding-bottom: .2rem;
}

.service a {
	display: inline-block;
	color: #29b4ee;
	border: 1px solid #29b4ee;
	width: 2rem;
	line-height: .6rem;
	border-radius: .05rem;
	text-align: center;
	font-size: .28rem;
}

.service a.active {
	color: #fff;
	background: #29b4ee;
}

.service a+a {
	margin-left: 8px;
}

.addrlist {
	color: #666;
	font-size: .22rem;
	line-height: .4rem;
}

.addrlist .addr-item {
	padding-left: .13rem;
	border-bottom: 1px solid #ddd;
}

.addrlist .addr-item .edit {
	display: block;
	height: .4rem;
	width: .4rem;
	background: url(../../img/edit.png) no-repeat center center;
	border: 1px solid #eaeaea;
	background-size: .3rem auto;
	margin-left: .2rem;
}

.addrlist .addr-item .tag {
	font-size: .16rem;
	color: #fff;
	background: #29b4ee;
	line-height: .22rem;
	padding: 0 .04rem;
}

.addrlist .addr-item .btn {
	font-size: .18rem;
	line-height: .4rem;
}

.addrlist .addr-item .btn .btn-default input[type=radio] {
	transform: scale(.5, .5);
	vertical-align: -.6em;
}

.addrlist .addr-item .btn .del {
	background: url(../../img/del.png) no-repeat left center;
	background-size: .18rem auto;
	padding-left: .22rem;
	display: block;
	line-height: .4rem;
	padding-top: .12rem;
	border: 1px solid #fff;
}

.addrlist .addr-item+.addr-item {
	margin-top: 10px;
}

.addrlist .addr-item:hover .btn a {
	display: inline-block;
}

.addrlist .addr-item.active>span:first-child {
	border: 2px solid #29b4ee;
	position: relative;
}

.addrlist .addr-item.active>span:first-child::before {
	content: '';
	display: block;
	width: 16px;
	height: 14px;
	background: url(../img/tag.png) no-repeat center center;
	position: absolute;
	right: -2px;
	bottom: 0;
}

.addrlist .addr-item .state {
	color: #fff;
	display: block;
	width: 62px;
	height: 20px;
	background: #999;
	text-align: center;
	line-height: 20px;
}

/* 新增地址 */
.add-addr .add-btn {
	width: 2.51rem;
	line-height: .6rem;
	color: #fff;
	font-size: .28rem;
	padding-left: 35px;
	background: #29b4ee url(../../img/add7.png) .3rem center no-repeat;
	background-size: .24rem auto;
	margin-top: .3rem;
}

.add-addr .form-group label {
	color: #333;
	line-height: 30px;
	width: 1.44rem;
	font-size: .28rem;
}

.add-addr .form-group input,
.add-addr .form-group select {
	border: 1px solid #eee;
	height: .6rem;
	padding-left: .1rem;
	font-size: .22rem;
}

.add-addr .form-group input {
	width: 5.61rem;
}

.selector {
	height: .5rem;
	color: #999;
	font-size: .22rem;
	width: 1.77rem;
	border: 1px solid #eee;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-left: .2rem;
	background: url(../../img/arrow3.png) no-repeat right .15rem center;
}

.add-addr .form-group .selector {
	color: #333;

}

.add-addr .form-group select+select {
	margin-left: .11rem;
}

.add-addr .form-group textarea {
	display: block;
	width: 100%;
	border: 1px solid #eee;
	padding: .1rem;
	height: 1.54rem;
}

.add-addr .form-group .btn-list a {
	width: 1.4rem;
	height: .6rem;
	border: 1px solid #29b4ee;
	color: #29b4ee;
	border-radius: .08rem;
	text-align: center;
	line-height: .6rem;
	font-size: .28rem;
	display: inline-block;
}

.card>.msg {
	font-size: .22rem;
	line-height: .4rem;
}

/* 订单信息 */
.order-info {
	border-top: 1px solid #29b4ee;
	margin-top: -.1rem;
	padding-top: .18rem;
}

.order-info .imgbox {
	width: 1.6rem;
	margin-right: .3rem;
}

.order-info .imgbox img {
	display: block;
	width: 100%;
}

.order-info .car-info {
	color: #333;
	font-size: .28rem;
	line-height: .4rem;
}

.order-info .list-item {
	color: #666;
	font-size: .26rem;
	padding: .2rem 0;
	border-bottom: 1px solid #eee;
}

.order-info-ft {
	padding-top: .4rem;
	padding-bottom: .2rem;
	font-size: .28rem;
}

.order-info-ft .price {
	font-weight: bold;
}

.pay-btn {
	color: #fff;
	background: #29b4ee;
	min-width: 1.2rem;
	line-height: .5rem;
	border-radius: 0.06rem;
	display: inline-block;
	text-align: center;
	padding: 0 .1rem;
	font-size: .2rem;
}

.plus-minus-operation a {
	display: block;
	height: .4rem;
	width: .4rem;
	border: 1px solid #ddd;
	font-size: .26rem;
	line-height: .4rem;
	font-weight: bold;
	text-align: center;
}

.plus-minus-operation a.disable {
	color: #ccc;
}

.plus-minus-operation input {
	border: 1px solid #ddd;
	height: .4rem;
	width: .5rem;
	margin: 0 1px;
	text-align: center;
	font-weight: bold;
	font-size: .18rem;
}

.card .title .help {
	color: #f53636;
	font-size: .18rem;
	margin-left: .1rem;
}

.card.cashier {
	font-size: .22rem;
	color: #333;
}

.card.cashier .price {
	font-weight: bold;
	font-size: .28rem;
	color: #29b4ee;
}

.pay-way .weixin,
.pay-way .airpay {
	display: block;
	width: 1.2rem;
	height: .5rem;
	border: 1px solid #ddd;
	background: no-repeat center center;
	background-size: contain;
}

.pay-way .weixin {
	background-image: url(../../img/wx.png);
}

.pay-way .airpay {
	background-image: url(../../img/airpay.png);
}

.pay-way .weixin.active,
.pay-way .airpay.active {
	position: relative;
	border: 1px solid #29b4ee;
}

.pay-way .weixin.active::before,
.pay-way .airpay.active::before {
	display: block;
	content: '';
	position: absolute;
	width: .19rem;
	height: .19rem;
	background: url(../../img/tag.png);
	background-size: contain;
	right: -1px;
	bottom: -1px;
}

.red-msg {
	font-size: .16rem;
}

.card.cashier input {
	height: .6rem;
	border: 1px solid #eee;
	padding-left: .2rem;
}

.agreement {
	padding: 0 .15rem;
	margin: .5rem 0 0;
}

.agreement .checklist {
	margin: 0 -.15rem;
}

.agreement .check {
	margin: .1rem .15rem;
}

.table {
	border-collapse: collapse;
	width: 100%;
	/* border: 1px solid #eee; */
	table-layout: fixed;
	text-align: center;
	color: #333;
	font-size: .22rem;
}
.table>tbody{
	border-style: hidden;
}
.table tr td,
.table tr th {
	border: 1px solid #eee;
	
}
.table tr td{
	border-top: none;
}
.table tr th {
	height: .6rem;
	line-height: .6rem;
}

.table tr td {
	padding: 10px 0;
	vertical-align: middle;
	line-height: .4rem;
}

.table.history tbody {
	display: block;
	width: 100%;
	overflow-y: auto;
	text-align: center;
}

.table.history thead,
.table.history tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.table.history tbody tr td {
	padding: .3rem 0;

}

.table.history .img {
	width: .8rem;
}

.account-form-info .form-group label {
	display: inline-block;
	width: 5.5em;
	text-align: right;
}

.account-form-info .form-group input {
	width: 220px;
	height: 30px;
	border: 1px solid #ddd;
	padding-left: 10px;
}
